
# copia este arquivo e renomeia a cópia para "docker-compose.yml"

version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: events-db
    restart: always
    environment:
      # ATENÇÃO: Defina a senha do root do MySQL
      MYSQL_ROOT_PASSWORD: SUA_SENHA_ROOT_AQUI
      MYSQL_DATABASE: events_db
      # ATENÇÃO: Defina o usuário e senha da aplicação
      MYSQL_USER: SEU_USUARIO_APP_AQUI
      MYSQL_PASSWORD: SUA_SENHA_APP_AQUI
    ports:
      - "3307:3306" 
    volumes:
      - events-db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: events-phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8082:80"
    depends_on:
      db:
        condition: service_healthy

  app:
    container_name: events-api
    build: .
    restart: on-failure
    environment:
      # URL de conexão (deve usar o nome do serviço 'db')
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/events_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      # ATENÇÃO: Estes DEVEM SER IDÊNTICOS aos valores de MYSQL_USER e MYSQL_PASSWORD acima
      SPRING_DATASOURCE_USERNAME: SEU_USUARIO_APP_AQUI
      SPRING_DATASOURCE_PASSWORD: SUA_SENHA_APP_AQUI
    ports:
      # Altere '8081' se essa porta já estiver em uso (é a mesma do application.properties)
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src:/app/src

volumes:
  events-db-data: